body {
  background: linear-gradient(to bottom right, #293265, #2e2f36);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Comfortaa, sans-serif;
  color: white;
}
.col-centered, #work-add, #work-subtract, #break-add, #break-subtract {
  float: none;
  margin: 0 auto;
}
#main {
  width: 60%;
}
#title{
  width: 100%;
  padding-top: 8%;
  padding-bottom: 5%;
}
table {
  background-color: white;
  width: 80%;
  height: 500px;;
}
tr {
  height: 30px
}
td {
  height: 30px;
  border: 5px solid black;
  width: 33%;
  font-size: 40pt;
  color: black;
  padding: none;
}
